module.exports = {
  apps: [{
    name: '{{ app_name }}',
    script: 'app.js',
    cwd: '{{ app_dir }}',
    instances: 1,
    autorestart: true,
    watch: false,
    max_memory_restart: '1G',
    env: {
      NODE_ENV: 'production',
      PORT: {{ app_port }}
    },
    error_file: '{{ app_dir }}/logs/error.log',
    out_file: '{{ app_dir }}/logs/output.log',
    log_file: '{{ app_dir }}/logs/combined.log',
    time: true
  }]
};
